/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo */
body {
  font-family: sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

/* Título */
h2 {
  width: 92%;
  text-align: center;
  margin: 20px 0;
  font-size: 2rem;
}

/* INPUT FILE (esse é o mais chato) */
input[type="file"] {
  width: 92%;
  font-size: 1.3rem;
  padding: 20px;
  border-radius: 12px;
  background: white;
  color: #333;
}

/* Canvas */
canvas {
  width: 92%;
  margin-top: 20px;
  border-radius: 16px;
  background: #000;
}

/* BOTÃO */
button {
  width: 92%;
  margin-top: 20px;
  padding: 26px; /* 🔥 bem alto */
  font-size: 1.4rem; /* 🔥 texto grande */
  border: none;
  border-radius: 14px;
  background: #00c9a7;
  color: white;
  font-weight: bold;
}

/* efeito clique */
button:active {
  transform: scale(0.97);
}
